# A modern and clean Aiogram 3.x Telegram bot starter template.
# This repository provides a basic, yet powerful, architecture to kickstart your next bot project,
# featuring structlog, pydantic, and fluent for a fast and scalable foundation.
#
# Author: [Yagafarov]
# Link: [https://github.com/Yagafarov/tg-bot-anodra.git]

# Install aiogram with all recommended speedups by default
aiogram
ujson
aiohttp[speedups]
aiodns
# Use the commented line below if you are on Windows for aiohttp speedups
# aiohttp[speedups]==3.9.5

# Uncomment the line below if you are on Linux to use uvloop for a faster event loop
# uvloop

# You can also choose to install dependencies manually:
# aiogram
# ujson  # ultra-fast JSON encoder/decoder
# aiodns  # asynchronous DNS resolver
# cchardet  # high-speed character encoding detector
# aiohttp  # asynchronous HTTP client/server

# Other core packages for the template
structlog  # Structured logging
pydantic  # Data validation and settings management
fluent.runtime  # Localization with Fluent
fluent.syntax  # Fluent syntax parser
colorama  # Cross-platform colored terminal text

###############################################################
### Some useful async libraries to use with aiogram         ###
### For more: https://github.com/timofurrer/awesome-asyncio ###
###############################################################

# aiosqlite  # Asynchronous SQLite database driver
# asyncpg  # Asynchronous PostgreSQL database driver
# motor  # Asynchronous MongoDB driver
# pyzmq  # Asynchronous ZeroMQ library
# piccolo  # Asynchronous ORM
# aql  # Asynchronous query builder (beta)
# httpx  # Asynchronous HTTP client
# aiofiles  # Asynchronous file operations
# aioamqp  # Asynchronous AMQP library
# aiocache  # Asynchronous cache system
# aiopath  # Asynchronous pathlib-like library
